---
repo:
  dsn: host=localhost user=postgres password=postgres dbname=postgres port=5432 sslmode=disable TimeZone=Asia/Tokyo
web:
  port: 8080
  headers:
    - key: Server
      value: Apache/2.4.2 (Unix) PHP/4.2.2
  content_directory: ./content
  directory_listing_template: ./template/directory_listing.html
  contents:
    /hello:
      body: '{"message":"hello"}'
    /ping:
      body: '{"message":"pong"}'
